.limitTextHeight {
	height: 1px;
	overflow: hidden;
}
.myBorder{
	border: 1px;
	color: black;
}
p {
    border-style: solid;
    border-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-color: black;
}